<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Ferrementas</title>
    <link rel="stylesheet" href="../static/estilos/style.css">
</head>
<body>

    <div class="segtela">
        <img class="andri_2" src="../static/Imagens/imagem_ANDRITZ_Azul.png" alt="Logo">  <!--Imagem no nome completo da empresa-->
        <h1><center>Almoxerifado de Ferrementas</center></h1>
    
         <a href="interface.html">
        <img class="voltar" src="../static/Imagens/Imagem_A_Azul.png" alt="voltar">      <!--imagem da logo A-->
         </a>
    </div>

    <div class="meio">
        <details class="menu-retratil">
            <summary>Registro Operador</summary>
            <ul>
                <li><a href="/perfil">Felipe</a></li>
                <li><a href="/configuracoes">Guilherme</a></li>
            </ul>
        </details> 
        <details class="menu-retratil">
            <summary>Maquinas</summary>
            <ul>
                <li><a href="/skoda1">Skoda 45403</a></li>
                <li><a href="/skoda2">Skoda 45404</a></li>
                <li><a href="/skoda3">Skoda 45405</a></li>
            </ul>
        </details>
        <details class="menu-retratil">
            <summary>Digitar quantidade</summary>
            <div class="caixa-input">
                <input type="number" id="inputNumero" placeholder="Digite um número...">
                <button type="button" onclick="validarNumero()">Verificar</button>
                <p id="mensagemAviso" style="margin-top: 10px; font-weight: bold;"></p>
            </div>
        </details>

    </div>

<script>
    function validarNumero() {
        const input = document.getElementById('inputNumero');
        const aviso = document.getElementById('mensagemAviso');
        const valor = parseInt(input.value);

        if (isNaN(valor)) {
            aviso.innerText = "Por favor, digite um número válido.";
            aviso.style.color = "orange";
        } else if (valor >= 0 && valor <= 100) {
            aviso.innerText = "Quantidade valida.";
            aviso.style.color = "green";
            // Aqui você poderia prosseguir com o envio para o Python
        } else {
            aviso.innerText = "Quantidade invalida.";
            aviso.style.color = "red";
        }
}
</script>

</body>
</html>