<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Ferrementas</title>
    <link rel="stylesheet" href="../static/estilos/style.css">
</head>
<body>

   <header class="navbar">
        <div class="logo">ANDRITZ </div>
        <h1 class="nav-title">Almoxarifado de Ferramentas</h1>
    </header>

    <main class="container">
        <section class="card">
            <div class="card-header">
                <span>👤</span> Registro Operador
            </div>
            <div class="card-body">
                <label for="operador">Selecione o Operador:</label>
                    <select id="operador" name="operador" class="input-field">
                    <option value="" disabled selected>Escolha um operador:</option>
                    <option value="felipe">Felipe</option>
                    <option value="guilherme">Guilherme</option>
                </select>
            </div>
        </section>

        <section class="card">
            <div class="card-header">
                <span>⚙️</span> Máquinas
            </div>
            <div class="card-body">
                <div class="card-body">
                <label for="operador">Maquinas:</label>
                    <select id="operador" name="operador" class="input-field">
                    <option value="" disabled selected>Selecione a maquina:</option>
                    <option value="Skoda 45403">Skoda 45403</option>
                    <option value="Skoda 45404">Skoda 45404</option>
                    <option value="Skoda 45405">Skoda 45405</option>
                </select>
            </div>
            
        </section>

        <section class="card">
            <div class="card-header">
                <span>🔢</span> Digitar quantidade
            </div>
            <div class="card-body">
                <input type="number" placeholder="Digite um número..." class="input-field">
                <button class="btn-verificar">Verificar ✓</button>
            </div>
        </section>
    </main>

    <footer class="footer">
        ANDRITZ. All rights reserved | Version 1.00
    </footer>

    <div class="voltar">
        <a href="interface.html">
            <img src="voltar.png" alt="voltar">
        </a>
    </div>

    </div>

    

<script>
    function validarNumero() {
        const input = document.getElementById('inputNumero');
        const aviso = document.getElementById('mensagemAviso');
        const valor = parseInt(input.value);

        if (isNaN(valor)) {
            aviso.innerText = "Por favor, digite um número válido.";
            aviso.style.color = "orange";
        } else if (valor >= 0 && valor <= 100) {
            aviso.innerText = "Quantidade valida.";
            aviso.style.color = "green";
            // Aqui você poderia prosseguir com o envio para o Python
        } else {
            aviso.innerText = "Quantidade invalida.";
            aviso.style.color = "red";
        }
}
</script>

</body>
</html>