body {
    background-color: black;
    color: white;    
}

.andritz{
    max-width: 20%; /* A imagem nunca será maior que o container pai */
    height: auto;    /* Mantém a proporção original */
}

